:root {
  --primario: #4d9ce0;
  --primario-obscuro: #2f5e88;
  --secundario: #ffae18;
  --secundario-obscuro: #F2A516;
  --blanco: #F2F2F2;
  --negro: #000000;
  --fuente-principal: "Staatliches", cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globales */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
image {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario-obscuro);
    font-family: var(--fuente-principal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
/* Header */
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}
/* Footer */
.footer {
    background-color: var(--primario-obscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    font-family: var(--fuente-principal);
    text-align: center;
    font-size: 2.2rem;
}
/* Navegacion */
.navegacion {
    background-color: var(--primario-obscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 4rem; /* Forma nueva */
}
.navegacion__enlace {
    font-family: var(--fuente-principal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;
}
.navegacion__enlace:last-of-type {
    margin-right: 0;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}
/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* Productos */
.producto {
    background-color: var(--primario-obscuro);
    padding: 1rem;
}
.producto__imagen {
    width: 100%;
}
.producto__informacion {

}
.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuente-principal);
    margin: 1rem 0;
    text-align: center;
}